body {
  font-family: "Bebas Neue";
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  margin-right: 150px;
  margin-left: 120px;
}

/* === header ============================================================= */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 30px 0px;
  font-family: "Poppins";
}

li ul a {
  margin: 0;
  padding: 0;

}
.header__logo {
  display: flex;
  width: 250px;
  height: 250px;
}

/* ===== header buttons ===================================*/

.header__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 215px;
}

.button__login {
  background-color: #fff;
}

.button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  font-family: "Poppins";
  font-size: 26px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:hover,
button:focus {
  text-decoration: underline;
  cursor: pointer;
}

.actions__signup {
  color: #000;
  font-size: 26px;
  margin-left: 20px;
}

.header__link {
  font-family: "Poppins";
  color: #101913;
  font-weight: 900;
  font-size: 25px;
}

.header__link-orange {
  color: orange;
}

.logo {
  width: 123px;
  height: 36px;
}

.header__links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.links {
  margin: 0;
}

.links__item a {
  display: block;
  color: var(--grey);
  font-size: 26px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* .item-orange {
  color: #f2994a;
} */

.header__actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .actions {
  display: flex;
  width: 213px;
  height: 40px;
} */

.actions__signup {
  color: #000;
  padding-top: 11px;
  margin-right: 30px;
  text-decoration: underline;
  width: 514px;
}

.button-orange {
  color: #fff;
  font-size: 26px;
  background-color: #f2994a;
  border: none;
  border-radius: 8px;
  padding: 8px 42px;
}

/* =======  main  ================================= */

.main {
  display: flex;
  align-items: center;
}

.main__text {
  width: 680px;
}

.description {
}

.description .button-green {
  margin-top: 32px;
}

.description__title {
  width: 690px;
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 110px;
  color: #333333;
  text-transform: uppercase;
}

.orange-text {
  color: #f2994a;
}

.description__text {
  width: 430px;
  height: 120px;
  display: block;
  padding-top: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #828282;
}

.main__img {
  margin-top: 44px;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .main__img {
    display: none;
  }
}

.main__items {
  display: flex;
  align-items: center;
  padding-top: 20px;
  margin: 0;
  font-family: "Poppins";
  padding-bottom: 35px;
}

.item + .item {
  margin-left: 50px;
}

.item {
  padding: 0;
  margin: 0;
}

.item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #333333;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-right: 43px;
}

.item-description {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #f2994a;
  text-transform: uppercase;
}

.main__img {
}

.button-orange__start {
  color: #fff;
  font-size: 26px;
  background-color: #f2994a;
  border: none;
  border-radius: 8px;
  padding: 8px 42px;
}

.form-search {
  display: flex;
  align-items: center;
  margin-top: 25px;
  width: 850px;
  height: 80px;
}

input {
  width: 270px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(201, 201, 201, 0.25);
  border-radius: 4px;
  font-family: "Poppins";
  color: #828282;
  font-size: 26px;
  line-height: 150%;
  letter-spacing: 0.6px;
  padding-left: 70px;
}

input:invalid ~ span::after {
  content: "✖";
  padding-left: 5px;
  position: absolute;
}

input:valid ~ span::after {
  content: "✓";
  padding-left: 5px;
  position: absolute;
}

.placeholder {
}

.button-search {
  position: absolute;
  padding: 8px 25px;
  gap: 10px;
  width: 104px;
  height: 40px;
  background: #f2994a;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-family: "Poppins";
  letter-spacing: 0.5px;
  margin-left: 15px;
}

/* ==== about ============================================================================================================= */

.about {
  display: flex;
  padding-top: 35px;
  font-family: "Poppins";
}

.about__img {
  margin: 0;
}

.about__text {
  margin-top: 102px;
  margin-left: 120px;
  margin-right: 150px;
}

.description {
}

.item-description {
}

.about__title {
  width: 564px;
  height: 144px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  text-transform: capitalize;
  color: #333333;
}

.description__text {
}

.about__actions {
  display: flex;
  padding-top: 35px;
  width: 500px;
}

.button-orange__getstarted {
  width: 245px;
  height: 68px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 23px;
  color: #fff;
  background-color: #f2994a;
  border: none;
  border-radius: 8px;
  padding: 23px 38px;
}

.actions__watch {
  display: flex;
  width: 160px;
  height: 45px;
  margin-top: 12px;
  margin-left: 25px;
}

.icon-play {
}

.link__play {
  width: 168px;
  padding-top: 12px;
  margin-left: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 24px;
  color: #4f4f4f;
}

/* ==== why us =============================================================================== */

.whyus {
  display: flex;
  padding-top: 35px;
  font-family: "Poppins";
  width: 1237px;
}

.whyus__text {
  margin-top: 102px;
}

.whyus__title {
  width: 564px;
  height: 144px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  text-transform: capitalize;
  color: #333333;
}

.whyus__checkbox {
  display: flex;
}

.whyus__description {
  width: 443px;
  height: 48px;
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #333333;
  padding: 26px;
}

.whyus-img {
  margin-left: 80px;
}

/* ==== pricing ===================================================================== */

.pricing {
  display: flex;
  padding-top: 35px;
  font-family: "Poppins";
  width: 1237px;
  margin-left: 120px;
}

.pricing__text {
}

.description {
}

.item-description {
}

.pricing__title {
  width: 1237px;
  height: 72px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  text-transform: capitalize;
  color: #333333;
}

.pricing__description__text {
  width: 443px;
  height: 48px;
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #333333;
  padding: 0px;
}

.pricing__tarifs {
  display: flex;
  gap: 47px;
}

.container__tarif {
  display: block;
  margin-top: 55px;
  width: 279.92px;
  height: 421.2px;
  background: #f8f8f8;
  border-radius: 22.8148px;
  padding: 36px 41px;
}

.tarif__title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;
  color: #333333;
}

.tarif__description {
  margin: 15px 0 10px 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  color: #848199;
  width: 203px;
}

.tarif__item {
  display: flex;
}

.tarif-icon-checkbox {
  margin-top: 16px;
  margin-right: 10px;
}

.tarif__checkbox {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  color: #848199;
  line-height: 23px;
  margin-top: 15px;
}

.prices {
  display: flex;
  margin-top: 20px;
}

.tarif-price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 37px;
  line-height: 40px;
  color: #333333;
  margin-top: 21px;
  margin-right: 5px;
}

.tarif-currency {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 22px;
  color: #848199;
  margin-top: 36px;
}

.button__buy {
  margin-top: 28px;
  margin-right: 56px;
  margin-bottom: 35px;
  margin-left: 64px;
  background: rgba(155, 81, 224, 0.1);
  border: none;
  border-radius: 17.5499px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 18px;
  color: #f2994a;
  padding: 7px 45px;
}

/* == reviews ============================================================= */

.reviews {
  display: flex;
  padding-top: 35px;
  font-family: "Poppins";
  width: 1237px;
  margin-left: 120px;
}

.reviews__container {
  display: flex;
}

.reviews__text {
}

.description {
}

.item-description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f2994a;
  margin-top: 45px;
}

.reviews__title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  text-transform: capitalize;
  color: #333333;
  margin-top: 10px;
}

.reviews__description__text {
  width: 628px;
  height: 182px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 27px;
  color: #4f4f4f;
  margin-top: 11px;
}

.name {
  margin-top: 11px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 21px;
  color: #000000;
}

.student {
  margin-top: 11px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 21px;
  color: #828282;
}

/* ==== footer =============================================================== */

footer {
  display: flex;
  width: 1441px;
  height: 382px;
  background-color: #1e2833;
  margin-top: 88px;
}

.footer__container {
  width: 697.48px;
  height: 174px;
  margin-left: 120px;
  margin-top: 100px;
}

.footer__title {
  height: 42px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.436364px;
  color: #ffffff;
}

.footer__description {
  margin-top: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 22px;
  letter-spacing: -0.231818px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer__button-orange {
  margin-top: 40px;
  color: #fff;
  font-size: 26px;
  background-color: #f2994a;
  border: none;
  border-radius: 8px;
  padding: 8px 42px;
}

.footer__links {
  margin-top: 100px;
  width: 65px;
  height: 22px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #ffffff;
}

li {
  color: #fff;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  padding-top: 20px;
  width: 65px;
  margin-left: 100px;
}

li a:hover,
li a:focus {
  text-decoration: underline;
}

.footer__social-links {
  margin-top: 35px;
  margin-left: 275px;
}

.links__media {
  gap: 25px;
  width: 20px;
  height: 20px;
  opacity: 80%;
  padding: 5px;
  background-color: #f8f5f51c;
  border-radius: 50%;
}

.footer__link {
  color: #f2994a;
}
